.carousel { height: 315px; width:100%;}
        .item img {width:100%}
        .he_border2{background:#000;width:360px;height:240px;padding:0;margin:0;border:1px solid #000;position:relative;box-sizing:border-box;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
        .he_border2 .he_border2_img{display:block;width:100%;padding:0;margin:0;position:relative;opacity:1;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
        .he_border2:hover .he_border2_img{position:absolute;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:.6}
        .he_border2 .he_border2_caption{color:#fff;padding:0;margin:0;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
        .he_border2 .he_border2_caption::before,.he_border2 .he_border2_caption::after{position:absolute;content:'';opacity:0;-webkit-transition:opacity 0.4s,-webkit-transform .4s;-moz-transition:opacity 0.4s,-moz-transform .4s;-o-transition:opacity 0.4s,-o-transform .4s;transition:opacity 0.4s,transform .4s}
        .he_border2 .he_border2_caption::before{top:14%;right:5%;bottom:14%;left:5%;border-top:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:scale(0,1);-moz-transform:scale(0,1);-o-transform:scale(0,1);transform:scale(0,1);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;transform-origin:0 0}
        .he_border2 .he_border2_caption::after{top:8%;right:10%;bottom:8%;left:10%;border-right:1px solid #fff;border-left:1px solid #fff;-webkit-transform:scale(1,0);-moz-transform:scale(1,0);-o-transform:scale(1,0);transform:scale(1,0);-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-o-transform-origin:100% 0;transform-origin:100% 0}
        .he_border2:hover .he_border2_caption::before,.he_border2:hover .he_border2_caption::after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
        .he_border2 .he_border2_caption,.he_border2 .he_border2_caption > a{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden; z-index:1000}
        .he_border2 .he_border2_caption_h{font-size:2em;text-align:center;width:70%;position:absolute;top:5px;left:15%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;overflow:hidden;opacity:1}
        .he_border2 .he_border2_caption_p{font-size:1em;text-align:center;width:80%;position:absolute;top:60%;left:10%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden;opacity:0}
        .he_border2:hover .he_border2_caption_p{top:45%;opacity:1}
        
       

       /*主要CSS*/
        .box_1{
            width:220px;height:220px;
            margin:40px auto;
            border-radius:50%;/*圆形*/
            position:relative;/*相对定位*/
            cursor:pointer;/*手指形状*/
        }
        .info1{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/zhu.jpg);
            position:relative;/*相对定位*/
        }
        .info1 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/zhu.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .info2{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/zou.jpg);
            position:relative;/*相对定位*/
        }
        .info2 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/zou.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .info3{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/chi.jpg);
            position:relative;/*相对定位*/
        }
        .info3 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/chi.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .info4{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/wan.jpg);
            position:relative;/*相对定位*/
        }
        .info4 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/wan.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .info5{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/you.jpg);
            position:relative;/*相对定位*/
        }
        .info5 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/you.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .info6{
            width:220px;height:220px;
            border-radius:50%;/*圆形*/
            background:url(images/mai.jpg);
            position:relative;/*相对定位*/
        }
        .info6 .sm_img{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            background:url(/images/mai.jpg)center center;
            transition:all .5s;/*延迟*/
            opacity:1;/*透明度*/
        }
        .ingo_fm{
            width:160px;height:160px;
            border-radius:50%;/*圆形*/
            border:0px solid #ccccff;
            background-color:#000;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            opacity:0;/*透明度*/
            transition:all .5s;/*延迟*/
            transform:scale(1.5);/*放大1.5倍*/
        }
        .ingo_fm h3{
            width:auto;
            height:auto;
            text-align:center;
            line-height:160px;
            font:24px/18px 'microsoft yahei';color: #fff;
            padding:10px;
            margin:62px 10px 0 10px;
            display:block;/*块集元素*/
            background-color:;
        }
        
        .mar_bor{
            width:160px;height:160px;
            background-color:#fff;
            position:absolute;/*移动元素 绝对定位*/
            left:30px;
            top:30px;
            transform:scale(1.6);/*放大1.5倍*/
            opacity:0;/*透明度*/
            border-radius:50%;/*圆形*/
            transition:all .7s;/*延迟*/
        }
        /*鼠标经过*/
        .box_1:hover .sm_img{
            transform:scale(0);/*放大0倍*/
            border:100px solid #fff;
            opacity:1;/*透明度*/
            position:absolute;/*移动元素 绝对定位*/
            left:-70px;
            top:-70px;
        }
        .box_1:hover .ingo_fm{
            opacity:0.9;/*透明度*/
            transform:scale(1);/*放大1.5倍*/
        }
        .box_1:hover .mar_bor{
            opacity:0.5;/*透明度*/
            width:135px;
            height:135px;
            position:absolute;/*移动元素 绝对定位*/
            left:42px;
            top:42px;
        }
        .box_os .os_x, .box_os .osqq, .ico_os, .ico_gt, .ico_pp, .osqq .qq{ background:url(/images/kf.gif) no-repeat;}
        .box_os{ height:auto; overflow:hidden; width:131px; position:fixed; right:0; top:44px; _position:absolute; z-index:9999;display:none;}
        .box_os .os_x{ background-color:#f7f7f7; background-position:2px 2px; width:18px; height:20px; float:right; display:inline; cursor:pointer;}
        .box_os .osqq{ width:129px; border:1px solid #D1D1D1; background-color:#fff; background-position:0 -120px; clear:both; padding:37px 0 8px 0; text-align:center;}
        .box_os .osqq p{ height:auto; line-height:20px;width:129px; margin-top:8px;}
        .box_os .osqq p strong{ color:#666;}
        .box_os .osqq img{ padding:7px 0 3px 0;}
        .box_os .osqq p em{ color:#999; display:block;}
        .box_os .osqq p span{ color:#547816; display:block;}
        .box_os .osqq .qq{ background-position:-140px -120px; display:block; width:99px; height:26px; margin:0 auto; margin-top:8px; cursor:pointer;}
        .acbox{ width:130px; overflow:hidden;}
        .acbox .ico_gt{ background-position:-60px 0; border:1px solid #299ec0; border-top:0; cursor:pointer; width:60px; height:33px; float:right;}
        .acbox .ico_pp{ background-position:-60px -60px; border:1px solid #81b140; border-top:0; cursor:pointer; width:60px; height:33px; float:right; margin:0 2px;}
        .onlineService{ background:none; display:none; width:39px; *width:84px; height:178px; ;position:fixed; right:0; top:44px; _position:absolute;}
        .onlineService .ico_os{ background-position:-2px -20px; border:1px solid #c7c7c7; cursor:pointer; width:39px; height:98px; float:right;}
        .onlineService .ico_gt{ background-position:right 0; border:1px solid #299ec0; cursor:pointer; width:39px; height:37px; float:right; clear:both;}
        .onlineService .ico_pp{ background-position:right -60px; border:1px solid #81b140; cursor:pointer; width:39px; height:37px; float:right; margin:0 0 1px 0; clear:both;}
        .box_os .osqq p span a{color:#557917;}